/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --accent: #5693bb;
  --accent-light: #5693bb;
  --main-dark: #0d101b;
  --main-dark-hue-800: #1f263b;
  --dark-container: #1a344c;
  --medium-container: #10253b;
  --main-dark-rgb: 20, 51, 79;
  --main: 2, 39, 57;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --blue-light: #d2e5ff;
  --gray-dark: 34, 41, 57;
  --burnt-orange: 154, 88, 25;
  --bright-orange: 245, 139, 24;
  --slate: 17, 30, 61;
  --slate-light: 80, 110, 134;
  --ice-blue: 20, 142, 173;
  --color-1: 20, 51, 79;
  --color-2: 6, 7, 15;
  --color-dblue-light: 16, 29, 34;
  --color-dblue-dark: 32, 41, 66;
  --color-sunrise-light: 252, 145, 21;
  --color-sunrise-dark: 198, 36, 85;
  --gray-gradient: rgba(var(--gray-light), 0.5), #fff;
  --dark-gradient: rgba(var(--main), 50%), #506e86;
  --dark-radial-gradient: rgba(var(--color-1), 1), rgba(var(--color-2), 1);
  --dark-menu-gradient: rgba(var(--color-dblue-light), 1),
    rgba(var(--color-dblue-dark), 1);
  --sunrise-gradient: rgba(var(--color-sunrise-light), 1),
    rgba(var(--color-sunrise-dark), 1);
  --box-shadow: 0 2px 6px rgba(var(--bright-orange), 25%),
    0 8px 24px rgba(var(--burnt-orange), 33%),
    0 16px 32px rgba(var(--burnt-orange), 33%);
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--main-dark);
  background-repeat: no-repeat;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-light));
  font-size: 18px;
  line-height: 1.7;
}
main {
  width: 760px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--gray-light));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: rgba(var(--bright-orange));
  text-shadow: 1px 1px 10px rgb(var(--bright-orange)),
    1px 1px 10px rgb(var(--bright-orange));
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
  color: #b2becf;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--dark-container);
  border-radius: 6px;
  color: rgb(var(--bright-orange));
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

@media screen and (min-width: 636px) {
  .hamburger,
  .hamburger-btn {
    display: none;
  }
}

.hamburger {
  width: 24px;
  height: 24px;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  padding-top: 0.75em;
  margin-left: auto;
}

.hamburger .line {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  background-color: var(--blue-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamburger.active {
  transition: 0.4s ease-in-out;
  width: 20px;
  height: 20px;
  z-index: 10000;
  overflow: hidden;
  /* right: 20px;
  padding-bottom: 20px; */
}

.hamburger span:nth-child(1) {
  top: 25%;
}

.hamburger span:nth-child(3) {
  top: 75%;
}

.hamburger:hover .line {
  background-color: orange;
}

.hamburger.active span:nth-child(1) {
  top: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.mobile-nav.active {
  top: 0;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  justify-items: top;
  background: linear-gradient(0deg, var(--dark-menu-gradient));
  height: 100vh;
  max-height: 325px;
  width: 100%;
  top: -999px;
  right: 0;
  position: fixed;
  padding-top: 30px;
  font-size: 1.75rem;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 10px black;
  border-radius: 0 0 25px 25px;
  z-index: 9999;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--blue-light);
}

a:hover {
  color: orange;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
