---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Adrian Pezzillo"
  pubDate={new Date("February 23 2025")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Yo, I’m Adrian! I’m a creative platform engineer based in <a href="https://en.wikipedia.org/wiki/Gritty">Philadelphia</a> who loves breaking things just to figure out how they work - and I usually put em' back together! 😅 Promise!
  </p>
  <p>
    I <i>love</i> automating just about anything I can and finding creative ways to make technology work for the people around me. I've got a real soft spot for application security (AppSec), DevOps and making internal tools. A bit of a specialized generalist in this way, but I never say no to a new challenge. Innately, I have a need to understand precisely how things work from the ground up - whether it's application code, network protocols, some <a href="https://datatracker.ietf.org/doc/html/rfc2324.html">RFC from 26 years ago</a> or a brand new web framework.
  </p>
  <p>
    I'm also a bit of a DevOps and a <a href="https://www.oreilly.com/library/view/the-software-craftsman/9780134052625/">software as craftsmanship</a> evangelist. I take a lot of pride in what I build and love ensuring that, as a team, we create products that are as frictionless as possible. Maybe that’s just the years of IT operations talking.
  </p>
  <p>
    Believe it or not, prior to my career as a software engineer I was a professional TTRPG illustrator and comic colorist! I worked on some cool stuff, like <a href="https://humblewood.com/">Humblewood</a> and <a href="https://www.atomicmassgames.com/mcp/">Marvel: Crisis Protocol</a>. Software isn't too different from this stuff, really--though that's a thought for a blog post!
  </p>

  <p>
    When I'm not tunneled into a project, I'm probably lifting weights, doing CTFs on HackTheBox, or cooking a hot meal for my friends. 🍲
  </p>
</Layout>
