---

---

<div class="bounding-box">
  <div class="text-content">
    <h1>😿 Sorry friend, no blog posts yet!</h1>
    <p>No posts here yet, but they're in the works. Check back soon!</p>
  </div>
</div>

<style>
  .bounding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px 30px 30px 20px;
    gap: 15px;
    /* box-shadow: 0 0 10px black; */
    /* box-shadow: var(--box-shadow); */
  }

  .text-content {
    text-align: center;
  }
</style>
