---

---

<nav class="mobile-nav">
  <ul>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">CV</a></li>
  </ul>
</nav>
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  li {
    list-style: none;
  }
</style>
