---
import HeaderLink from "./HeaderLink.astro";
import SocialIcons from "./SocialIcons.astro";
import { SITE_TITLE, SOCIAL } from "../consts";
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav>
    <h2 class="site-title"><a href="/">{SITE_TITLE}</a></h2>
    <Hamburger />
    <div class="internal-links">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/about">CV</HeaderLink>
    </div>
    <div class="social-icons" title="Follow me on GitHub">
      <SocialIcons icons={SOCIAL} />
    </div>
  </nav>
</header>

<script>
  import "../scripts/menu.js";
</script>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px rgba(var(--ice-blue), 50%);
    background: radial-gradient(circle, var(--dark-radial-gradient));
    color: var(--blue-light);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.5em 0.6em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--bright-orange);
  }

  nav a:hover {
    color: orange;
  }

  .internal-links {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  .internal-links a {
    color: var(--blue-light);
  }

  .internal-links a.active {
    color: rgba(var(--bright-orange));
  }

  .social-icons {
    padding-left: 1em;
  }

  .social-icons a:hover {
    color: orange;
  }

  .site-title {
    text-transform: uppercase;
  }

  nav h2.site-title {
    --accent: var(--blue-light);
  }

  @media screen and (max-width: 636px) {
    .internal-links {
      display: none;
    }
  }
</style>
