---
import { AUTHOR_DETAILS } from "../consts";
---

<div class="bounding-box">
  <div class="text-content">
    <h2>Hey, I'm <strong>{AUTHOR_DETAILS.firstName}</strong>!</h2>
    <p class="tiny">Well, some call me m00se</p>
    <p>
      I'm a platform engineer and creative developer who loves to automate away
      toil and create responsive software.
    </p>
    <p>I would rather fight 100 duck sized horses. 🦆</p>
  </div>
  <div class="image-container">
    <img src="apezzi.png" />
  </div>
</div>

<style>
  .bounding-box {
    background-color: var(--medium-container);
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* width: 100%; */
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 20px 30px 30px 20px;
    gap: 15px;
    /* box-shadow: 0 0 10px black; */
    box-shadow: var(--box-shadow);
  }

  .tiny {
    font-size: 8px;
    text-align: center;
  }

  .text-content {
    flex: 1;
  }
  .text-content strong {
    text-transform: capitalize;
  }

  .image-container img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    align-items: start;
    box-shadow: 0 0 3px var(--main-dark);
    border: solid 3px rgb(var(--burnt-orange));
  }

  @media (max-width: 636px) {
    .bounding-box {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .text-content {
      align-items: center;
      justify-content: center;
    }
  }
</style>
